<!DOCTYPE html>
<html>

<head>
    <title>Admin - Help Me Buy!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/lux/bootstrap.min.css"
        integrity="sha512-+TCHrZDlJaieLxYGAxpR5QgMae/jFXNkrc6sxxYsIVuo/28nknKtf9Qv+J2PqqPXj0vtZo9AKW/SMWXe8i/o6w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.8.6/dist/css/autocomplete.min.css" />
    <link rel="stylesheet" href="/admin.css">
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
            <div class="col-lg-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link tab-btn" href="#" data-target="trees">Trees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-btn" href="#" data-target="products">Products</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="secret-view" class="view">
            <div class="row" style="margin-top: 7rem;">
                <div class="col-lg-4 offset-lg-4">
                    <h1>Set Admin Secret</h1>
                    <hr>
                    <div id="set-admin-secret-message"></div>
                    <form>
                        <div class="mb-3">
                            <input class="form-control" id="set-admin-secret-input" type="password"
                                placeholder="Admin Secret">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-info w-100" id="set-admin-secret-btn">Set Admin Secret</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="trees-view" class="view">
            <div class="row" style="margin-top: 3rem;">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-10">
                            <h1>Trees</h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-tree-modal">Add
                                Tree</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th>Name</th>
                                        <th>Root</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="trees"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="root-view" class="view">
            <div class="row" style="margin-top: 7rem;">
                <div class="col-lg-4 offset-lg-4">
                    <button class="btn btn-lg btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#add-tree-root-modal">Add Root</button>
                </div>
            </div>
        </div>
        <div id="tree-view" class="view">
            <div class="row" style="margin-top: 3rem;">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-10">
                            <h1 id="prompt"></h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#edit-node-modal">Edit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Text</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="options"></tbody>
                            </table>
                            <button class="btn btn-outline-primary" data-bs-target="#add-option-modal"
                                data-bs-toggle="modal">Add Option</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3rem;">
                        <div class="col-lg-12">
                            <div id="multiple-option-choices-allowed-message"></div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""
                                    id="multiple-option-choices-allowed-check">
                                <label class="form-check-label" for="multiple-option-choices-allowed-check">
                                    Multiple Option Choices Allowed
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3rem;">
                        <div class="col-lg-10">
                            <h2>Routes</h2>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-info" id="add-route-modal-btn" data-bs-toggle="modal"
                                data-bs-target="#add-route-modal">Add
                                Route</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Route</th>
                                        <th>Node</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="routes"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="leaf-view" class="view">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-10">
                            <h1>Products</h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary" data-bs-target="#add-node-product-modal"
                                data-bs-toggle="modal">Add Product</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="node-products"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="products-view" class="view">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-10">
                            <h1>Product Catalog</h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#add-product-modal">Add
                                Product</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="products"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-tree-modal" tabindex="-1" aria-labelledby="add-tree-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-tree-modal-label">Add Tree</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="add-tree-message"></div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Key</label>
                            <input type="text" class="form-control" id="add-tree-key" placeholder="Tree Key">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Display Name</label>
                            <input type="text" class="form-control" id="add-tree-display-name"
                                placeholder="Tree Display Name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-tree-btn">Add Tree</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-tree-modal" tabindex="-1" aria-labelledby="edit-tree-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edit-tree-modal-label">Edit Tree</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="edit-tree-message"></div>
                    <form>
                        <input type="hidden" id="edit-tree-key">
                        <div class="mb-3">
                            <label class="form-label">Display Name</label>
                            <input type="text" class="form-control" id="edit-tree-display-name"
                                placeholder="Tree Display Name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="edit-tree-btn">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-tree-modal" tabindex="-1" aria-labelledby="delete-tree-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-tree-modal-label">Delete Tree</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="delete-tree-message"></div>
                    <form>
                        <input type="hidden" id="delete-tree-key">
                        <div class="mb-3">
                            <label class="form-label">Confirmation</label>
                            <input type="text" class="form-control" id="delete-tree-confirmation"
                                placeholder="Enter 'yes' to confirm deletion of the tree">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-tree-btn">Delete Tree</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tree-activation-modal" tabindex="-1" aria-labelledby="tree-activation-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tree-activation-modal-label">Delete Tree</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="tree-activation-message"></div>
                    <form>
                        <input type="hidden" id="tree-activation-key">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="tree-activation-check">
                            <label class="form-check-label" for="tree-activation-check">
                                Activate
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-tree-root-modal" tabindex="-1" aria-labelledby="add-tree-root-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-tree-root-modal-label">Add Tree Root</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="add-tree-root-message"></div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Prompt</label>
                            <input type="text" class="form-control" id="add-tree-root-prompt"
                                placeholder="Tree root prompt">
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="add-tree-root-is-leaf">
                                <label class="form-check-label" for="add-tree-root-is-leaf">
                                    Is Leaf
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-tree-root-btn">Add Tree Root</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-option-modal" tabindex="-1" aria-labelledby="add-option-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-option-modal-label">Add Option</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="add-option-message"></div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Option Text</label>
                            <input type="text" class="form-control" id="add-option-text" placeholder="Option text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-option-btn">Add Option</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-option-modal" tabindex="-1" aria-labelledby="delete-option-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-option-modal-label">Delete Option</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="delete-option-message"></div>
                    <form>
                        <input type="hidden" id="delete-option-index">
                        <div class="mb-3">
                            <label class="form-label">Confirmation</label>
                            <input type="text" class="form-control" id="delete-option-confirmation"
                                placeholder="Enter 'yes' to confirm deletion of the option">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-option-btn">Delete Option</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-node-modal" tabindex="-1" aria-labelledby="edit-node-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edit-node-modal-label">Edit Node</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="edit-node-message"></div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Prompt</label>
                            <input type="text" class="form-control" id="edit-node-prompt" placeholder="Node Prompt">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="edit-node-btn">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-route-modal" tabindex="-1" aria-labelledby="add-route-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-route-modal-label">Add Route</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="add-route-message"></div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Prompt</label>
                            <input type="text" class="form-control" id="add-tree-node-prompt"
                                placeholder="Tree node prompt">
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="add-tree-node-is-leaf">
                                <label class="form-check-label" for="add-tree-node-is-leaf">
                                    Is Leaf
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <h5>Options</h5>
                            <div id="add-tree-node-parent-options"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-route-btn">Add Route</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-product-modal" tabindex="-1" aria-labelledby="add-product-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-product-modal-label">Add Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="add-product-message"></div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Type</label>
                            <input type="text" class="form-control" id="add-product-type" placeholder="Product Type">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="add-product-name" placeholder="Product Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" id="add-product description"
                                placeholder="Product Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Image URL</label>
                            <input type="text" class="form-control" id="add-product-image-url"
                                placeholder="Product Image URL">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Attributes</label>
                            <div id="add-product-attributes"></div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-primary" id="add-product-attribute-btn">Add
                                Attribute</button>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Links</label>
                            <div id="add-product-links"></div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-primary" id="add-product-link-btn">Add Link</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-product-btn">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="delete-product-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-product-modal-label">Delete Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="delete-product-message"></div>
                    <form>
                        <input type="hidden" id="delete-product-id">
                        <div class="mb-3">
                            <label class="form-label">Confirmation</label>
                            <input type="text" class="form-control" id="delete-product-confirmation"
                                placeholder="Enter 'yes' to confirm deletion of the product">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-product-btn">Delete Product</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-node-product-modal" tabindex="-1" aria-labelledby="add-node-product-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-node-product-modal-label">Add Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="add-node-product-message"></div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Product</label>
                            <input type="text" class="form-control" id="add-node-product-name"
                                placeholder="Product Name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-node-product-btn">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-handlebars-template" id="trees-template">
        {{#each trees}}
        <tr id="tree-{{key}}">
            <td>{{key}}</td>
            <td id="tree-display-name-{{key}}">{{displayName}}</td>
            <td>
                <button class="btn btn-outline-info btn-sm tree-root-btn" data-key="{{key}}">Root</button>
            </td>
            <td>
                <button class="btn btn-outline-warning btn-sm edit-tree-modal-btn" data-key="{{key}}" data-bs-toggle="modal" data-bs-target="#edit-tree-modal">Edit</button>
                <button class="btn btn-outline-danger btn-sm delete-tree-modal-btn" data-key="{{key}}" data-bs-toggle="modal" data-bs-target="#delete-tree-modal">Delete</button>
                <button class="btn btn-outline-primary btn-sm tree-activation-modal-btn" data-key="{{key}}" data-bs-toggle="modal" data-bs-target="#tree-activation-modal">Activation</button>
            </td>
        </tr>
        {{/each}}
    </script>
    <script type="text/x-handlebars-template" id="options-template">
        {{#each options}}
        <tr id="option-{{@index}}">
            <td>{{text}}</td>
            <td>
                <button class="btn btn-outline-danger btn-sm delete-option-modal-btn" data-index="{{@index}}" data-bs-toggle="modal" data-bs-target="#delete-option-modal">Delete</button>
            </td>
        </tr>
        {{/each}}
    </script>
    <script type="text/x-handlebars-template" id="routes-template">
        {{#each routes}}
        <tr id="route-{{id}}">
            <td>
                {{#each parentOptionChoices}}
                <span class="badge bg-info">{{this}}</span>
                {{/each}}
            </td>
            <td>{{prompt}}</td>
            <td>
                <button class="btn btn-outline-primary btn-sm go-to-node-btn" data-id="{{id}}">Go To Node</button>
            </td>
        </tr>
        {{/each}}
    </script>
    <script type="text/x-handlebars-template" id="parent-options-input-template">
        {{#each options}}
        <div class="form-check">
            <input class="form-check-input add-tree-node-parent-option" data-index="{{@index}}" type="checkbox" value="">
            <label class="form-check-label">
                {{text}}
            </label>
        </div>
        {{/each}}
    </script>
    <script type="text/x-handlebars-template" id="add-product-attribute-template">
        <div class="row">
            <div class="col">
                <input type="text" id="add-product-attribute-key-{{index}}" placeholder="Key #{{index}}" class="form-control">
            </div>
            <div class="col">
                <input type="text" id="add-product-attribute-value-{{index}}" placeholder="Value #{{index}}" class="form-control">
            </div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="add-product-link-template">
        <div class="row">
            <div class="col">
                <input type="text" id="add-product-link-link-{{index}}" placeholder="Link #{{index}}" class="form-control">
            </div>
            <div class="col">
                <input type="text" id="add-product-link-text-{{index}}" placeholder="Text #{{index}}" class="form-control">
            </div>
            <div class="col">
                <input type="text" id="add-product-link-icon-{{index}}" placeholder="Icon #{{index}}" class="form-control">
            </div>
        </div>
    </script>
    <script type="text/x-handlebars-template" id="products-template">
        {{#each products}}
        <tr id="product-{{id}}">
            <td>{{name}}</td>
            <td>
                <button class="btn btn-outline-warning btn-sm edit-product-modal-btn" data-id="{{id}}">Edit</button>
                <button class="btn btn-outline-danger btn-sm delete-product-modal-btn" data-id="{{id}}" data-bs-toggle="modal" data-bs-target="#delete-product-modal">Delete</button>
            </td>
        </tr>
        {{/each}}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.8.6/dist/js/autocomplete.min.js"></script>
    <script type="text/javascript" src="/admin.js"></script>
</body>

</html>